.container {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.548) 10.52%,
    rgba(87, 40, 70, 0.564) 50.5%,
    rgba(0, 0, 0, 0.2) 80.41%
  );
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content p b {
  color: orange;
  font-size: 30px;
}

.content h1 {
  font-size: 55px;
  padding: 5px;
}

.content p {
  padding: 5px;
  font-size: 25px;
}

.content a {
  border-radius: 90px;
  padding: 13px 50px;
  margin: 0.5rem;
}

.btn {
  margin-top: 40px;
}

.btn1 {
  background: linear-gradient(
    101.81deg,
    rgb(240, 135, 255) -4.52%,
    rgb(110, 31, 206) 54.5%,
    rgba(110, 31, 206, 0.2) 101.41%
  );
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.btn1:hover {
  color: rgba(0, 0, 0, 0.897);
  background: rgb(255, 255, 255);
}

.btn2 {
  font-size: 20px;
  border: 0.5px solid white;
}

.btn2:hover {
  color: rgba(0, 0, 0, 0.897);
  background: rgb(255, 255, 255);
}

/* ABOUT SECTION */

.about-container {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.548) 10.52%,
    rgba(40, 79, 87, 0.564) 50.5%,
    rgba(0, 0, 0, 0.2) 80.41%
  );
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  margin: auto;
  padding: 0px 120px 0px 120px;
}
h1 {
  color: #fec648;
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

.about-para {
  padding-top: 30px;
}

/* Events styling start */

.event-container {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.548) 10.52%,
    rgba(60, 40, 87, 0.564) 50.5%,
    rgba(0, 0, 0, 0.2) 80.41%
  );
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Events {
  display: flex;
  justify-content: center;
}

.Events img {
  height: 400px;
  width: 400px;
  border-radius: 20px;
  transition: all 0.5s;
  margin-top: 10px;
}

.figuree img:hover {
  cursor: pointer;
}

.figuree:hover .figcaptionn {
  display: block;
}

.Events figcaption {
  font-size: 18px;
  display: none;
  margin-top: 10px;
  text-align: center;
  color: white;
}


/* FAQs section start */

.faq-accordion-container {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.548) 10.52%,
    rgba(49, 48, 81, 0.564) 50.5%,
    rgba(0, 0, 0, 0.2) 80.41%
  );
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-accordion-container ul {
  border: 1px solid white;
  margin: 0px 200px 0px 200px;
  border-radius: 10px;
}

.faq-question {
  border-top: 1px solid #eee;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.faq-accordion-container h3 {
  background: #0d3646;
  border-radius: 10px;
  color: #fec648;
  padding: 10px;
  text-align: center;
  font-size: 50px;
}

.faq-question h2 {
  font-size: 20px;
  margin: 10px;
  color: #adebff;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.faq-answer > p {
  padding: 10px 40px 10px 40px;
  color: white;
}

.faq-accordion-container li.default-faq-open .faq-question .fa {
  transform: rotate(180deg);
}

.faq-accordion-container li.default-faq-open .faq-answer {
  max-height: 500px;
}

/* FAQs section end */
